lizard==1.18.0
GitPython==3.1.45
py-template-engine>=0.2.6
radon==6.0.1
requests==2.32.5
packaging==25.0
toml==0.10.2
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
PyYAML==6.0.3
simhash==2.1.2
term-piechart==0.1.3
